on early-init
    start ueventd

on init
    export PATH /sbin
    export ANDROID_ROOT /
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard-ext
	symlink /sbin/busybox /sbin/sh
	export LD_LIBRARY_PATH .:/sbin
	
	mkdir /sdcard 0771 system system
    mkdir /sdcard-ext 0771 system system
    mkdir /system 0771 system system
    mkdir /data 0771 system system
    mkdir /cust 0771 system system
    mkdir /cache 0770 system cache
    mkdir /etc 0770 root root
    mkdir /tmp 01777 root root

	
    mount /tmp /tmp tmpfs
on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service ueventd /sbin/ueventd
    critical

service adbd        /sbin/adbd 

service recovery /sbin/recovery

setprop persist.sys.usb.config mass_storage,adb	

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
	stop adbd
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1038
    write /sys/class/android_usb/android0/f_mass_storage/nluns 2
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 1
    write /sys/class/android_usb/android0/f_mass_storage/lun1/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# /* cleanup usb serial number for normal and factory mode */
# USB normal mode configuration
on property:sys.usb.config=serial,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
	stop adbd
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.normal
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_diag/clients  diag
    write /sys/class/android_usb/android0/f_serial/transports smd,smd
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
# /* DTS2012022400909 chenxi 20120224 end > */

# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config $persist.sys.usb.config
# /* DTS2012011801998 chenxi 20120203 end >*/ 