on init
    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr 
    write /sys/class/android_usb/android0/f_rndis/manufacturer Huawei
    write /sys/class/android_usb/android0/f_rndis/vendorID 12d1
    write /sys/class/android_usb/android0/f_rndis/wceis 1

on boot
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1038
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
	start adbd
    setprop sys.usb.state adb

on property:sys.usb.config=autorun,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.cdrom
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state autorun,mass_storage

on property:sys.usb.config=autorun,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.cdrom
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
	start adbd
    setprop sys.usb.state autorun,mass_storage,adb
# /* DTS2012021307208  chenxi 20120215 end > */

# USB google mode configuration
on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1037
    #/* < DTS2012060701547 fangxinyong 20120608 begin */
    write /sys/class/android_usb/android0/f_mass_storage/nluns $ro.hw.usb.google.nluns
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index $ro.hw.usb.google.cdrom
    #/* DTS2012060701547 fangxinyong 20120608 end > */ 
    write /sys/class/android_usb/android0/f_mass_storage/lun2/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state mass_storage

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1038
    #/* < DTS2012060701547 fangxinyong 20120608 begin */
    write /sys/class/android_usb/android0/f_mass_storage/nluns $ro.hw.usb.google.nluns
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index $ro.hw.usb.google.cdrom
    #/* DTS2012060701547 fangxinyong 20120608 end > */ 
    write /sys/class/android_usb/android0/f_mass_storage/lun2/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mass_storage,adb

# /* cleanup usb serial number for normal and factory mode */
# USB normal mode configuration
# /* < DTS2012022706082 chenxi 20120302 begin */
# /* add adb and diag port to make sure diag port is enabled */
on property:sys.usb.config=serial,mass_storage
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.normal
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_diag/clients  diag
    # /* < DTS2012022301786 yanzhijun 20120223 begin */
    # change the pcui port to smd type for support at command
    write /sys/class/android_usb/android0/f_serial/transports smd,smd
    # /* DTS2012022301786 yanzhijun 20120223 end > */ 
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state serial,mass_storage
# /* DTS2012022706082 chenxi 20120302 end > */

on property:sys.usb.config=serial,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.normal
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_diag/clients  diag
    # /* < DTS2012022301786 yanzhijun 20120223 begin */
    # change the pcui port to smd type for support at command
    write /sys/class/android_usb/android0/f_serial/transports smd,smd
    # /* DTS2012022301786 yanzhijun 20120223 end > */ 
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state serial,mass_storage,adb

# USB tethering mode configuration
on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1039
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/class/android_usb/android0/functions rndis
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state rndis

on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1050
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/class/android_usb/android0/functions rndis,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state rndis,adb

# USB MTP mode configuration
on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1051
    write /sys/class/android_usb/android0/functions mtp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state mtp

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1052
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state mtp,adb

# USB PTP mode configuration
on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1053
    write /sys/class/android_usb/android0/functions ptp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ptp

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1054
    write /sys/class/android_usb/android0/functions ptp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ptp,adb

# modify USB accessory vid and pid to match google
# USB accessory configuration
on property:sys.usb.config=accessory
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d00
    write /sys/class/android_usb/android0/functions accessory
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state accessory

on property:sys.usb.config=accessory,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 18d1
    write /sys/class/android_usb/android0/idProduct 2d01
    write /sys/class/android_usb/android0/functions accessory,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state accessory,adb
# /* DTS2012011801998 chenxi 20120203 end >*/

# USB udisk mode configuration
# /* lun0/file and lun1/file will be configured by vold */
on property:sys.usb.config=udisk,mass_storage
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1005
    write /sys/class/android_usb/android0/f_mass_storage/nluns 2
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index none
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state udisk,mass_storage

on property:sys.usb.config=udisk,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct 1005
    write /sys/class/android_usb/android0/f_mass_storage/nluns 2
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index none
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state udisk,mass_storage,adb
   
# /* DTS2012022400909 chenxi 20120224 end > */
# /* DTS2012032106408 chenxi 20120323 end > */

# /* < DTS2012041000776 chenxi 20120410 begin */
on property:sys.usb.config=slate,autorun,mass_storage
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.cdrom
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state slate,autorun,mass_storage

on property:sys.usb.config=slate,autorun,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.cdrom
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
	start adbd
    setprop sys.usb.state slate,autorun,mass_storage,adb

on property:sys.usb.config=slate,serial,mass_storage
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.normal
    write /sys/class/android_usb/android0/f_diag/clients  diag
    write /sys/class/android_usb/android0/f_serial/transports smd,smd
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state slate,serial,mass_storage

on property:sys.usb.config=slate,serial,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.normal
    write /sys/class/android_usb/android0/f_diag/clients  diag
    write /sys/class/android_usb/android0/f_serial/transports smd,smd
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state slate,serial,mass_storage,adb
    
on property:sys.usb.config=auth,serial,mass_storage
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.auth
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_diag/clients  diag
    write /sys/class/android_usb/android0/f_serial/transports smd,smd
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state auth,serial,mass_storage

on property:sys.usb.config=auth,serial,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/idVendor 12d1
    write /sys/class/android_usb/android0/idProduct $ro.hw.usb.pid.auth
    write /sys/class/android_usb/android0/iSerial cleanup
    write /sys/class/android_usb/android0/f_diag/clients  diag
    write /sys/class/android_usb/android0/f_serial/transports smd,smd
    write /sys/class/android_usb/android0/f_mass_storage/nluns 1
    write /sys/class/android_usb/android0/f_mass_storage/cdrom_index 0
    write /sys/class/android_usb/android0/f_mass_storage/lun0/file /system/cdrom/autorun.iso
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb,diag
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state auth,serial,mass_storage,adb
# /* DTS2012041000776 chenxi 20120410 end > */
# Used to set USB configuration at boot and to switch the configuration
# when changing the default configuration
on property:persist.sys.usb.config=*
    setprop sys.usb.config $persist.sys.usb.config
	
# Used to disable USB when switching states
on property:sys.usb.config=none
    stop adbd
    write /sys/class/android_usb/android0/enable 0
	write /sys/class/android_usb/android0/bDeviceClass 0
    setprop sys.usb.state none

on property:persist.service.adb.enable=1
    start adbd

on property:persist.service.adb.enable=0
    stop adbd
